<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="/use_sim_time" value="false"/>
    <arg name="use_rp" default="true"/>
    <arg name="use_velo" default="true"/>
    <arg name="use_joy" default="true"/>
    <arg name="use_postech_pos" default="false"/>
    <arg name="use_static_tf" default="true"/>
    <arg name="use_mode" default="false"/> <!-- not gonna use-->
    <arg name="use_obs" default="true"/>

    <!--arg name="map_file" default="/home/cocel/catkin_ws/maps/docking_test.yaml"/--> <!-- in front of computer -->
    <!--arg name="map_file" default="/home/cocel/catkin_ws/maps/short_seoul.yaml"/-->
    <arg name="map_file" default="/home/cocel/catkin_ws/maps/211122_mosa_in.yaml"/>

    <node pkg="rosservice" type="rosservice" name="rosservice" args="call /odom_init 0.0 0.0 0.0"/>

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    <node name="amcl" pkg="amcl_pose_updater" type="amcl_pose_updater" clear_params="true" output="screen">
        <rosparam command="load" file="$(find leo_driving)/config/amcl.yaml"/>
    </node>
    <!-- aruco-->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>
    <include file="$(find aruco_detect)/launch/aruco_detect.launch"/>


    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find leo_driving)/rviz/view_data.rviz"/>

    <node if="$(arg use_rp)" name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
        <param name="serial_port"         type="string" value="/dev/rplidar"/>
        <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
        <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
        <param name="frame_id"            type="string" value="laser"/>
        <param name="inverted"            type="bool"   value="false"/>
        <param name="angle_compensate"    type="bool"   value="true"/>
        <remap from="/scan" to="/rp/scan"/>
    </node>

    <include if="$(arg use_velo)" file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
    <include if="$(arg use_joy)" file="$(find teleop_twist_joy)/launch/teleop.launch"/>
    <include file="$(find vectornav)/launch/vectornav.launch"/>
    <include file="$(find robot_localization)/launch/ekf_template.launch"/>
    
    <!-- LEO_DRIVING PACKAGE-->
    <node pkg="rostopic" type="rostopic" name="lidar_driving_trigger" args="pub -r 20 /cmd_publish std_msgs/Int32 0" output="screen"/>
    <node if="$(arg use_mode)" pkg="rostopic" type="rostopic" name="lidar_driving_trigger" args="pub -r 10 /mode/low std_msgs/Int32 0" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="nodelet_manager"  args="manager" output="screen"/>
    
    <node if="$(arg use_rp)" pkg="nodelet" type="nodelet" name="AisleDetectNode_loader" args="load auto_driving/AisleDetectNode nodelet_manager" output="screen">
        <rosparam command="load" file="$(find leo_driving)/config/aisle_detect.yaml"/>
    </node>

    <node if="$(arg use_obs)" pkg="nodelet" type="nodelet" name="ObstaclesNode_loader" args="load auto_driving/ObstaclesNode nodelet_manager" output="screen">
        <rosparam command="load" file="$(find leo_driving)/config/obstacles.yaml"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="CmdPublishNode_loader" args="load auto_driving/CmdPublishNode nodelet_manager" output="screen">
        <rosparam command="load" file="$(find leo_driving)/config/cmd_publish.yaml"/>
        <param name="amcl_driving" value="true"/>
	<remap from="/joystick" to="/joy"/>
    </node>

<node pkg="nodelet" type="nodelet" name="Localization_loader" args="load auto_driving/LocalizationNode nodelet_manager" output="screen">
        <rosparam command="load" file="$(find leo_driving)/config/localization.yaml"/>
	<remap from="/joystick" to="/joy"/>
    </node>

    
    <!-- STATIC TF PUBLISHER -->
    <node if="$(arg use_static_tf)" pkg="tf" type="static_transform_publisher" name="base_link_to_rp" args="0 0 0 3.141592 0 0 base_link laser 100" />
    <node if="$(arg use_static_tf)" pkg="tf" type="static_transform_publisher" name="base_link_to_velo" args="0.0735 0 0 0 0 0 base_link velodyne 100" /> <!-- 0.0635-->
    <node if="$(arg use_static_tf)" pkg="tf" type="static_transform_publisher" name="base_link_to_imu" args="0.0735 0 0 0.0 0 0 base_link imu 100" />
    <node if="$(arg use_static_tf)" pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0.0 0 0 map odom 100" />


</launch>
